openapi: 3.0.0
servers:
  - url: 'http://www.ebayadservices.com/marketingtracking/v1'
    description: eBay Adservices
info:
  description: eBay Adservices
  version: 1.0.0
  title: ebay-adservices
paths:
  /impression:
    get:
      summary: Impression tracking
      description: Send one event to marketing tracking
      tags:
        - impression
      operationId: impression
      parameters:
        - in: query
          name: mkcid
          schema:
            type: integer
          required: true
          description: Marketing channel id
        - in: query
          name: mkrid
          schema:
            type: string
          description: Marketing rotation id
        - in: query
          name: mkevt
          schema:
            type: integer
          description: Marketing event type
        - in: query
          name: mksid
          schema:
            type: string
          description: Marketing session id
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /ar:
    get:
      summary: Ad request
      description: Serve ad request
      tags:
        - ar
      operationId: ar
      parameters:
        - in: query
          name: mkcid
          schema:
            type: integer
          required: true
          description: Marketing channel id
        - in: query
          name: mkrid
          schema:
            type: string
          description: Marketing rotation id
        - in: query
          name: mkevt
          schema:
            type: integer
          description: Marketing event type
        - in: query
          name: mksid
          schema:
            type: string
          description: Marketing session id
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /redirect:
    get:
      summary: Ad redirection
      description: Serve ad redirection
      tags:
        - redirect
      operationId: redirect
      parameters:
        - in: query
          name: mkcid
          schema:
            type: integer
          required: true
          description: Marketing channel id
        - in: query
          name: mkrid
          schema:
            type: string
          description: Marketing rotation id
        - in: query
          name: mkevt
          schema:
            type: integer
          description: Marketing event type
        - in: query
          name: mksid
          schema:
            type: string
          description: Marketing session id
      responses:
        '301':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /sync:
    get:
      summary: Sync cookie by get
      description: Sync cookie by get
      tags:
        - sync
      operationId: sync
      parameters:
        - in: query
          name: guid
          schema:
            type: string
          required: true
          description: persistent guid
        - in: query
          name: uid
          schema:
            type: string
          description: encrypted uid
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /guid:
    get:
      summary: Get eBay GUID
      description: Get eBay GUID by ADGUID
      tags:
        - guid
      operationId: guid
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /uid:
    get:
      summary: Get eBay USERID
      description: Get eBay USERID by ADGUID
      tags:
        - userid
      operationId: userid
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /config/{configid}:
    get:
      summary: Get Epn Config Information
      description: Get config information for ebay partner network by config id
      tags:
        - config
      operationId: config
      parameters:
        - in: path
          name: configid
          schema:
            type: string
          required: true
          description: Ebay partner network config id
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /placement:
    get:
      summary: Get Epn Personalization Ads
      description: Get personalization ads for ebay parter network by placement parameters
      tags:
        - placement
      operationId: placement
      parameters:
        - in: query
          name: st
          schema:
            type: string
          description: ePN campaign status
        - in: query
          name: cpid
          schema:
            type: string
          description: ePN campaign id
        - in: query
          name: l
          schema:
            type: string
          description: ePN style placementLayout
        - in: query
          name: ft
          schema:
            type: string
          description: ePN style font
        - in: query
          name: tc
          schema:
            type: string
          description: ePN style titleColor
        - in: query
          name: clp
          schema:
            type: string
          description: ePN style collapse
        - in: query
          name: mi
          schema:
            type: integer
          description: ePN style minNumberOfItems
        - in: query
          name: k
          schema:
            type: string
          description: ePN search query keyword
        - in: query
          name: ctids
          schema:
            type: integer
          description: ePN search query categoryIds
        - in: query
          name: mkpid
          schema:
            type: string
          description: ePN search query marketplaceId
        - in: query
          name: ur
          schema:
            type: string
          description: ePN userRetargeting
        - in: query
          name: cts
          schema:
            type: string
          description: ePN contextual
        - in: query
          name: sf
          schema:
            type: string
          description: ePN searchFallback
        - in: query
          name: pid
          schema:
            type: string
          description:
        - in: query
          name: ad_v
          schema:
            type: integer
          description:
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
components:
  schemas:
    SyncEvent:
      type: object
      properties:
        guid:
          type: string
          example: '7fbad10916d0aad6a7870f00f1631295'
        userid:
          type: string
          example: '12345678'