openapi: 3.0.0
servers:
  - url: 'http://www.ebayadservices.com/marketingtracking/v1'
    description: eBay Adservices
info:
  description: eBay Adservices
  version: 1.0.0
  title: ebay-adservices
paths:
  /impression:
    get:
      summary: Impression tracking
      description: Send one event to marketing tracking
      tags:
        - impression
      operationId: impression
      parameters:
        - in: query
          name: mkcid
          schema:
            type: integer
          required: true
          description: Marketing channel id
        - in: query
          name: mkrid
          schema:
            type: string
          description: Marketing rotation id
        - in: query
          name: mkevt
          schema:
            type: integer
          description: Marketing event type
        - in: query
          name: mksid
          schema:
            type: string
          description: Marketing session id
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /ar:
    get:
      summary: Ad request
      description: Serve ad request
      tags:
        - ar
      operationId: ar
      parameters:
        - in: query
          name: mkcid
          schema:
            type: integer
          required: true
          description: Marketing channel id
        - in: query
          name: mkrid
          schema:
            type: string
          description: Marketing rotation id
        - in: query
          name: mkevt
          schema:
            type: integer
          description: Marketing event type
        - in: query
          name: mksid
          schema:
            type: string
          description: Marketing session id
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /redirect:
    get:
      summary: Ad redirection
      description: Serve ad redirection
      tags:
        - redirect
      operationId: redirect
      parameters:
        - in: query
          name: mkcid
          schema:
            type: integer
          required: true
          description: Marketing channel id
        - in: query
          name: mkrid
          schema:
            type: string
          description: Marketing rotation id
        - in: query
          name: mkevt
          schema:
            type: integer
          description: Marketing event type
        - in: query
          name: mksid
          schema:
            type: string
          description: Marketing session id
      responses:
        '301':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
  /sync:
    post:
      summary: Ad cookie sync
      description: Sync eBay cookie with adservices cookie
      tags:
        - sync
      operationId: sync
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncEvent'
  /guid:
    get:
      summary: Get eBay GUID
      description: Get eBay GUID by ADGUID
      tags:
        - guid
      operationId: guid
      responses:
        '200':
          description: Success
        '400':
          description: Rejected
        '500':
          description: The call was unsuccessful due to exceptions on the Server
components:
  schemas:
    SyncEvent:
      type: object
      properties:
        guid:
          type: string
          example: '7fbad10916d0aad6a7870f00f1631295'